<h1>All Poems</h1>
<label>Create New Poem
    <a href="<%= new_poem_url %>"> Create New Poem </a>
</label>

<% @poems.each do |poem| %>
    <%= poem.title %>
    <% if poem.complete %>
        <p>Done</p>
    <%end%>
    <%= poem.stanzas %>
    <label>Edit Poem
    <a href="<%= edit_poem_url(poem.id) %>">Edit Poem</a>
</label>
    <%end%>
