<h1>All Poems</h1>
<label>Create New Poem
    <a href="<%= new_poem_url %>"</a>
</label>

<% @poems.each do |poem| %>
    <%= poem.title %>
    <% if poem.complete %>
        <p>Done</p>
    <%end%>
    <%= poem.stanzas %>
    <%end%>
